<launch>

  <!-- The name of this package -->
  <arg name="pkg_name" default="cultureid_games_N" />

  <!-- The absolute path of this package -->
  <arg name="pkg_ap"   default="$(eval find(arg ('pkg_name')))" />


  <node name="cultureid_games_N_games" pkg="cultureid_games_N" type="games.py" output="screen">

    <param name="pkg_name"            value="$(arg pkg_name)" />
    <param name="pkg_ap"              value="$(arg pkg_ap)" />
    <rosparam command="load"          file="$(arg pkg_ap)/config/quarteta.yaml" />
    <rosparam command="load"          file="$(arg pkg_ap)/config/to_load.yaml" />

  </node>

</launch>
